node_modules
dist
dumi-docs
.pnpm-store
.turbo
.DS_Store
*.log
.vscode
apps/devtools-extension/.plasmo/
apps/devtools-extension/build/
apps/docs-dumi/.dumi/tmp/*
apps/docs-dumi/.dumi/tmp-production/*
.trae/*
